@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  --mobile-width: 365px;
  --desktop-width: 1440px;

  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;

  --border-rad: 16px;
}

/* || GENERAL */

body {
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--font-family);
    min-width: 375px;
    min-height: 100vh;
}

/* || CONTAINER */

.qr-code-container {
    background-color: var(--White);
    width: fit-content;
    max-width: 320px;
    padding: 20px;
    border-radius: var(--border-rad);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.improve, .scan {
    margin: 10px 0;
    text-align: center;
}

.img {
    width: 288px;
    height: 288px;
    border-radius: var(--border-rad);
}

.improve {
    color: var(--Dark-blue);
    font-size: calc(var(--font-size) * 1.5);
}

.scan {
    font-size: var(--font-size);
    color: var(--Grayish-blue);
}

